.msg-alert {
  position: fixed;
  top: 70px;
  right: 30px;
  width: 60%;
  max-width: 300px;
  z-index: 99;
  overflow: hidden;
}

.msg-alert::before {
  content: "";
  display: block;
  position: relative;
  height: 4px;
  background: rgba(0,0,0,.5);
  top: 4px;
  z-index: 2;
  width: 100%;
  border-top-left-radius: 18px;
}

.animate::before {
  width: auto;
  animation: timeAlertClose 5.2s linear;
}

@keyframes timeAlertClose {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}